In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as plt
import os

In [2]:
for dirname, _, filenames in os.walk('/data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [9]:
## load data
data_path = {
    'categories': '../data/item_categories.csv',
    'items': '../data/items.csv',
    'sales': '../data/sales_train.csv',
    'shops': '../data/shops.csv',
    'test': '../data/test.csv'
}
print('dataset loaded completly')

dataset loaded completly

In [13]:
dataset = { name: pd.read_csv(path) for name, path in data_path.items()}
dataset.keys()

dict_keys(['categories', 'items', 'sales', 'shops', 'test'])

Inspect data

In [22]:
def inspect_data(dataset: pd.DataFrame):
    print(dataset.info())

    print(f"""
        Inspecting for duplicates:
        Discovered: {sum(dataset.value_counts() > 1)}
    """)

    return dataset.head()

In [23]:
inspect_data(dataset['sales'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2935849 entries, 0 to 2935848
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   date_block_num  int64
 2   shop_id         int64
 3   item_id         int64
 4   item_price      float64
 5   item_cnt_day    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 134.4+ MB
None

        Inspecting for duplicates:
        Discovered: 6

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [24]:
inspect_data(dataset['items'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22170 entries, 0 to 22169
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_name         22170 non-null  object
 1   item_id           22170 non-null  int64
 2   item_category_id  22170 non-null  int64
dtypes: int64(2), object(1)
memory usage: 519.7+ KB
None

        Inspecting for duplicates:
        Discovered: 0

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [25]:
inspect_data(dataset['shops'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   shop_name  60 non-null     object
 1   shop_id    60 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB
None

        Inspecting for duplicates:
        Discovered: 0

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4